<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Process CSV</title>
</head>
<body>
    <div>
        <h1>Welcome, please upload your CSV file to continue.</h1>

        <form action="/api/csv/test" enctype="multipart/form-data" method="post">
            <div>
                <input type="file" name="file">
                <input type="submit" value="Upload CSV">            
            </div>
        </form>
    </div>
    <br><br>
    <h2>Other ways to use this service</h2>

    <h4>Thunder Client (VScode extension)</h4>
    <ul>
        <li>use Collections option</li>
        <li>open thunder-collection file and customize as needed</li>
        <li>import thunder Client collection from project root</li>
        <li>make sure you have the test csv file in the correct directory</li>
        <li>send POST request</li>
    </ul>


    <h4>curl</h4>
    <p>Example run: 
        <code>
            <b>curl -F 'file=@/home/username/src/labs/process-csv/newcar.csv' http://localhost:5000/api/csv/mazda</b>
        </code>
    </p>
    
    <h4>Postman</h4>
        <ul>
            <li>Create a New HTTP Post Request</li>
            <li>request URL example: http://localhost:5000/api/csv/test</li>
            <li>Select Body > form-data radio button</li>
            <li>key: choose file option</li>
            <li>value: attach your test file</li>
            <li>click send</li>
        </ul>
</body>
</html>